.hero {
  display: flex;
  justify-content: space-between;
  height: 50rem;
}

.hero-left p {
  line-height: 1.4rem;
}

.hero-left__heading {
  font-size: 4rem;
  line-height: 6rem;
}

.hero-left__heading span {
  color: #ff8f59;
}

.hero-left__btn {
  display: inline-block;
  cursor: pointer;
  background-color: #ff8f59;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  transition: 100ms ease-in;
}

.hero-left__btn:focus {
  outline: none;
}

.hero-left__btn:hover {
  background-color: white;
  border: 1px solid #ff8f59;
  color: #ff8f59;
}

.hero-right {
  display: flex;
}

.hero-right__content {
  position: relative;
  left: 30%;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.hero-right img {
  height: 40rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .hero-right {
    display: none;
  }

  .hero {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
}
